.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button {
    background: transparent url('../images/bg_button_a.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 24px arial, sans-serif;
    height: 40px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../images/bg_button_span.png') no-repeat ;
    display: block;
    line-height: 30px;
    padding: 5px 0 5px 18px;
}

* {
	border:none; 
	margin:0; 
	padding:0;
}

body {
	background:#fff; 
	color: #000; 
	font:12.35px Georgia, Arial, "Lucida Grande", Verdana, sans-serif;
}

a:link. a:visited {
	color:#0054a6;
	text-decoration:none; 
}

a:hover {
	text-decoration:underline
}

h1 {
	margin-top:100px; 
	font-size:32px;
	margin-bottom:20px; 
	color:#0054a6;
	text-decoration:bound
}

h2 { 
	margin-top:20px; 
	font-size:22px;
	margin-left:20px;
	color:#3366FF;
	
}

#wrap {
	margin:10px auto;
	width:900px; 
}

p {
	margin:15px 0;
}

#header {
	margin-bottom:20px;
}

label {
	display:block; 
	padding-bottom:5px; 
	margin-top:20px;
}

#contactform {
	
	overflow:hidden;
}

#contactform li {
	list-style:none; 
	padding-bottom:20px;
}

#contactform li .fieldbox {
	background:transparent url(../images/subfield.jpg) no-repeat top left; 
	float:left; 
	height:27px; 
	padding-left:5px;
}

#contactform li .fieldbox input {
	background:transparent url(../images/subfield.jpg) no-repeat top right; 
	height:27px; 
	padding-top:5px;
	width:400px;
}

#contactform li .fieldbox #contact {
	width:200px;
}

#contactform li .msgbox {
	background:transparent url(../images/msgfield.jpg) no-repeat top left; 
	float:left; 
	height:110px; 
	padding-left:5px;
}

#contactform li .msgbox textarea {
	background:transparent url(../images/msgfield.jpg) no-repeat top right; 
	height:110px;
	padding-top:5px;
	width:500px;	 
}

#sendbutton {
	background:#acb4cb; color:#fff; 
	cursor:pointer;
	padding:5px 10px; 
	-moz-border-radius:4px;
	-webkit-border-radius:4px
}

/* LIST #3 */
#list3 {
	
}
#list3 ul {
	list-style-image: url(../images/arrow.png);
	color:#0054a6;
	font-size:18px;
	padding:0 0 0 50px;
	font: Arial;
}