<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./main.css">
<!--[if lt IE 9]>
 	 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="jquery-1.7.2.js"></script>
<script type="text/javascript">
function buildForm() {
	var processElements = ["processId", "cuiId"];
	for (var i = 0; i < processElements.length; i++)
	{
	    var inputHiddenField = document.getElementById(processElements[i]);
	    inputHiddenField.value = getParameter(processElements[i]);
	}
	
	var inputElementIds = [
#foreach ($element in $inputElements)   
   	"$element",  
#end
	];

	for (var i = 0; i < inputElementIds.length; i++)
	{
		buildInputField(inputElementIds[i]);
	}
}

function buildInputField(inputFieldId) {
	
	var outputElementIds = [
#foreach ($element in $outputElements)   
   	"$element",  
#end
			  ];
	
	var select = document.getElementById(inputFieldId);
	select.innerHTML = "";

	for(index in outputElementIds) {
    	var o = new Option(getParameter(outputElementIds[index]), getParameter(outputElementIds[index]));
		$(o).html(getParameter(outputElementIds[index]));
		$("#"+inputFieldId).append(o);
	}
}


function getParameter(name){
	   if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
	      return decodeURIComponent(name[1]);
}
</script>
<head>
	<title>UsiWSC - Web Client</title>
	<meta charset="utf-8" />
</head>

<body id="index" class="home" onload="buildForm();">
	<header id="banner" class="body">
    	<h1 class="logo"><img src="UsiWSCLogo.png" title="UsiWSC Logo" alt="UsiWSC Logo" align="left" /><span class="wsc">Usable User Interface for</span> Interactive Web Service Composition</h1>
		<nav><ul>
			<li><a href="http://webapps.fundp.ac.be/usiwsc/index.html">Overview</a></li>
			<li><a href="http://webapps.fundp.ac.be/usiwsc/Features.html">Features</a></li>
			<li><a href="http://webapps.fundp.ac.be/usiwsc/Dowload.html">Download</a></li>
			<li><a href="http://webapps.fundp.ac.be/usiwsc/Support.html">Support</a></li>
			<li><a href="http://webapps.fundp.ac.be/usiwsc/AboutUs.html">About us</a></li>
			<li class="active"><a href="http://localhost:8050/UsiWSC_WebClient/uiwsc/">Web Sign In
			</a></li>
		</ul></nav>
	</header><!-- /#banner -->
	
	<aside id="featured" class="body"><article>
		<hgroup>
			<h2>The Web Client Demonstration</h2>
			<h3><a href="#">UI-BPEL</a></h3>
		</hgroup>
		<p> This demonstration presents the designing, deploying and execution of a Web service
		 composition with user interactions based on UsiWSC Framework. The Web service composition
		 on the UsiWSC framework are defined based on an
		 extension of the BPEL: the UI-BPEL. For deployment, the framework allows the
		 derivation of the UI based on the <a href="http://www.usixml.com">UsiXML standard</a>. Besides,
		 the framework allows the derivation of an executable BPEL
		 compositions for a specific user context. Finally, the UsiWSC framework allows the
		 execution of the Web service composition, keeping the coordination of the
		 control and data flows between the involved Web services and user interfaces.</p>
	</article></aside><!-- /#featured -->
	<section id="content" class="body">
		
		<ol id="posts-list" class="hfeed">
			<li><article class="hentry">
				<footer class="post-info">
					<h1 class="entry-title">Interaction A</h1>
				</footer><!-- /.post-info -->
				
				<div class="entry-content">
					<div id="process">
				      	<form action="$actionRequest" method="get">
							<input type="hidden" id="processId" name="processId" value="">
							<input type="hidden" id="cuiId" name="cuiId" value="">
							<ul id="contactform">
#foreach ($element in $inputElements)
								<li>
						    		<select name="$element" class="styled-select" id="$element">
										
									</select>
						    	</li>
#end
								<li><!-- <input type="submit" value="Send" id="sendbutton" name="sendbutton"/> -->
#foreach ($element in $userEvents)
									<input type="submit" value="$element" id="$element" name="$element"/>
#end
								</li>
							</ul>
						</form>
					</div>
				</div><!-- /.entry-content -->
			</article></li>
		</ol><!-- /#posts-list -->
	</section><!-- /#content -->
	
	<footer id="contentinfo" class="body">
		<img src="logo.png" title="UsiWSC Logo" alt="UsiWSC Logo" align="left" />
		<img src="logo3.png" title="UsiWSC Logo" alt="UsiWSC Logo" align="right" />
		<p>&copy; 2012 FUNDP</p>
	</footer><!-- /#contentinfo -->
</body>
</html>