<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.bpel.common.ui.paletteAdditions">
      <additions
            provider="be.edu.fundp.precisebpel_ui.ui.palette.BPEL_UI_PaletteProvider"
            targetEditor="org.eclipse.bpel.ui.bpeleditor">
      </additions>
   </extension>
   
   <extension id="BPELUIObjectFactory" name="objFact"
		point="org.eclipse.bpel.ui.uiObjectFactories">
		<factory
			class="be.edu.fundp.precisebpel_ui.ui.factories.BPEL_UIObjectFactory"
			specCompliant="false" categoryId="not.used"
			id="be.edu.fundp.precisebpel_ui.ui.factories.BPEL_UIObjectFactory" />
	</extension>
	
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="org.eclipse.bpel.ui.bpeleditor">
			<propertySection
				class="be.edu.fundp.precisebpel_ui.ui.properties.DataInputUIPropertySection"
				tab="org.eclipse.bpel.ui.tabs.details"
				id="be.edu.fundp.precisebpel_ui.ui.properties.DataInputUIPropertySection">
				<input type="be.edu.fundp.precise.bpel_ui.model.DataInputUI" />
			</propertySection>
		</propertySections>
		<propertySections contributorId="org.eclipse.bpel.ui.bpeleditor">
			<propertySection
				class="be.edu.fundp.precisebpel_ui.ui.properties.DataOutputUIPropertySection"
				tab="org.eclipse.bpel.ui.tabs.details"
				id="be.edu.fundp.precisebpel_ui.ui.properties.DataOutputUIPropertySection">
				<input type="be.edu.fundp.precise.bpel_ui.model.DataOutputUI" />
			</propertySection>
		</propertySections>
		<propertySections contributorId="org.eclipse.bpel.ui.bpeleditor">
			<propertySection
				class="be.edu.fundp.precisebpel_ui.ui.properties.UserInteractionPropertySection"
				tab="org.eclipse.bpel.ui.tabs.details"
				id="be.edu.fundp.precisebpel_ui.ui.properties.UserInteractionPropertySection">
				<input type="be.edu.fundp.precise.bpel_ui.model.UserInteraction" />
			</propertySection>
		</propertySections>
		<propertySections contributorId="org.eclipse.bpel.ui.bpeleditor">
			<propertySection
				class="be.edu.fundp.precisebpel_ui.ui.properties.DataSelectionInteractionPropertySection"
				tab="org.eclipse.bpel.ui.tabs.details"
				id="be.edu.fundp.precisebpel_ui.ui.properties.DataSelectionInteractionPropertySection">
				<input type="be.edu.fundp.precise.bpel_ui.model.DataSelectionUI" />
			</propertySection>
		</propertySections>
		<propertySections contributorId="org.eclipse.bpel.ui.bpeleditor">
			<propertySection
				class="be.edu.fundp.precisebpel_ui.ui.properties.DataSelectionMinCardinalityPropertySection"
				tab="org.eclipse.bpel.ui.tabs.details"
				id="be.edu.fundp.precisebpel_ui.ui.properties.DataSelectionMinCardinalityPropertySection">
				<input type="be.edu.fundp.precise.bpel_ui.model.DataSelectionUI" />
			</propertySection>
		</propertySections>
	</extension>
</plugin>
