<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<jaxws:endpoint xmlns:tns="http://fundp.ac.be/UiManager/"
		id="uimanager"
		implementor="be.ac.fundp.precise.processMediation.userEvent.webService.UiManagerImpl"
		wsdlLocation="wsdl/UiManager.wsdl" endpointName="tns:UiManagerSOAP"
		serviceName="tns:UiManager" address="/UiManagerSOAP">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
	</jaxws:endpoint>
	<jaxws:endpoint xmlns:tns="http://precise.funpd.ac.be/AuiDeployer"
		id="processdeployer"
		implementor="be.ac.fundp.precise.processDeployment.webService.ProcessDeployerImpl"
		wsdlLocation="wsdl/ProcessDeployer.wsdl" endpointName="tns:ProcessDeployer"
		serviceName="tns:ProcessDeployerService" address="/ProcessDeployer">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
	</jaxws:endpoint>
</beans>
