/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Enrique RamÃ­rez
	Autor URI: http://enrique-ramirez.com
*/

/* Imports 
@import url("reset.css");
@import url("global-forms.css");*/

/***** Global *****/
/* Body */
body { /*background: #F5F4EF url('../images/bg.png'); */
	background: #F5F4EF;
	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode',
		'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}

/* Headings */
h2 {
	font-size: 1.571em
} /* 22px */
h3 {
	font-size: 1.429em
} /* 20px */
h4 {
	font-size: 1.286em
} /* 18px */
h5 {
	font-size: 1.143em
} /* 16px */
h6 {
	font-size: 1em
} /* 14px */
h2,h3,h4,h5,h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* Anchors */
a {
	outline: 0;
}

a img {
	border: 0px;
	text-decoration: none;
}

a:link,a:visited {
	color: #997d00;
	padding: 0 1px;
	text-decoration: underline;
}

a:hover,a:active {
	background-color: #997d00;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}

/* Paragraphs */
p {
	margin-bottom: 1.143em;
}

* p:last-child {
	margin-bottom: 0;
}

strong,b {
	font-weight: bold;
}

em,i {
	font-style: italic;
}

::-moz-selection {
	background: #F6CF74;
	color: #fff;
}

::selection {
	background: #F6CF74;
	color: #fff;
}

/* HTML5 tags */
header,section,footer,aside,nav,article,figure {
	display: block;
}

/***** Layout *****/
.body {
	clear: both;
	margin: 0 auto;
	width: 800px;
}

img.right figure.right {
	float: right;
	margin: 0 0 2em 2em;
}

img.left,figure.left {
	float: right;
	margin: 0 0 2em 2em;
}

/*
	Header
*****************/
#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

/* Banner */
#banner h1 {
	font-style: italic, oblique;
	color: #007e99;
	font-size: 3.571em;
	line-height: .9;
	font-weight: bolder
}

#banner h1 a:link,#banner h1 a:visited {
	color: #000305;
	display: block;
	font-weight: bold;
	margin: 0 0 .6em .2em;
	text-decoration: none;
	width: 427px;
}

#banner h1 a:hover,#banner h1 a:active {
	background: none;
	color: #C74350;
	text-shadow: none;
}

#banner span {
	color: #997d00
}

/* Main Nav */
#banner nav {
	background: #997d00;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 2em auto;
	padding: 0;
	text-align: center;
	width: 800px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#banner nav ul {
	list-style: none;
	margin: 0 auto;
	width: 800px;
}

#banner nav li {
	float: left;
	display: inline;
	margin: 0;
}

#banner nav a:link,#banner nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 1.5em;
	text-decoration: none;
}

#banner nav a:hover,#banner nav a:active,#banner nav .active a:link,#banner nav .active a:visited
	{
	background: #007e99;
	color: #fff;
	text-shadow: none !important;
}

#banner nav li:first-child a {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

/*
	Featured
*****************/
#featured {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 760px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#featured h2 {
	color: #007e99;
	font-size: 1.714em;
	margin-bottom: 0.333em;
}

#featured h3 {
	font-size: 1.429em;
	margin-bottom: .5em;
}

#featured h3 a:link,#featured h3 a:visited {
	color: #997d00;
	text-decoration: none;
}

#featured h3 a:hover,#featured h3 a:active {
	color: #fff;
}

/*
	Body
*****************/
#content {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 760px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*
	Footer
*****************/
#contentinfo {
	padding-bottom: 2em;
	text-align: center;
}

/***** Sections *****/
/* Blog */
.hentry {
	border-bottom: 1px solid #eee;
}

li:last-child .hentry,#content>.hentry {
	border: 0;
	margin: 0;
}

#content>.hentry {
	padding: 1em 0;
}

.entry-title {
	border: 0;
	margin: 0;
	font-style: italic, oblique;
	color: #997d00;
	font-size: 1.8em;
	line-height: .9;
	font-weight: bolder
}

.hentry .post-info * {
	font-style: normal;
}
/* Content */
.hentry footer {
	margin-bottom: 2em;
}

.hentry footer address {
	display: inline;
}

#posts-list footer address {
	display: block;
}
/* Blog Index */
#posts-list {
	list-style: none;
	margin: 0;
}

#posts-list .hentry {
	padding-left: 200px;
	position: relative;
}

#posts-list footer {
	left: 10px;
	position: absolute;
	top: 1.5em;
	width: 190px;
}

/*
	Forms
*****************/
form {
	margin-top: 40px;
}

.styled-select {
	background: transparent;
	padding: 5px;
	font-size: 16px;
	/*border: 1px solid #ccc;*/
	border: solid 1px #E5E5E5;
	height: 34px;
}

input,textarea,select {
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: bold 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	/* background: #FFFFFF url('bg_form.png') left top repeat-x;*/
	background: #FFFFFF left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #EEEEEE), to(#FFFFFF) );
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px
}

textarea {
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%
}

input:hover,textarea:hover,input:focus,textarea:focus {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px
}

label {
	margin-left: 10px;
	color: #999999
}

#contactform li {
	list-style: none;
	padding-bottom: 20px;
}

.submit input {
	width: auto;
	padding: 9px 15px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px
}

/*
	Processes List
*****************/
#process {
	width: 320px;
	font-family: Georgia, Times, serif;
	font-size: 15px;
}

#process ul {
	list-style: none
}

#process ul li a {
	display: block;
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
	line-height: 30px;
	padding-left: 10px;
	cursor: pointer;
}

#process ul li a:hover {
	color: #007e99;
}

#process ul li a strong {
	margin-right: 10px;
}

/************************* LIST #5 **************************/
.arrowlistmenu {
	width: 300px; /*width of menu*/
}

.arrowlistmenu .headerbar {
	font: bold 14px Arial;
	color: white;
	background: #007e99;
	margin-bottom: 10px;
	list-style:none;
	/*bottom spacing between header and rest of content*/
	text-transform: uppercase;
	padding: 4px 0 4px 10px; /*header text is indented 10px*/
}

.arrowlistmenu .interaction {
	font: bold 14px Arial;
	color: red;
	list-style:none;
	margin-bottom: 10px;
	/*bottom spacing between header and rest of content
	padding: 4px 0 4px 10px; /*header text is indented 10px*/
}

.arrowlistmenu .normal {
	font: bold 14px Arial;
	margin-bottom: 10px;
	list-style:none;
	/*bottom spacing between header and rest of content*/
	/*text-transform: uppercase;
	padding: 4px 0 4px 10px; /*header text is indented 10px*/
}

.arrowlistmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
	list-style:none;
	/*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li {
	padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a {
	color: #997d00;
	background: url(../images/arrowbullet.png) no-repeat center left;
	/*custom bullet list image*/
	display: block;
	padding: 2px 0;
	padding-left: 19px; /*link text is indented 19px*/
	text-decoration: none;
	font-weight: bold;
	border-bottom: 1px solid #dadada;
	font-size: 90%;
}

.arrowlistmenu ul li a:visited {
	color: #997d00;
}

.arrowlistmenu ul li a:hover { /*hover state CSS*/
	color: #997d00;
	background-color: #F3F3F3;
}